div(ng-include='"components/navbar/navbar.html"')

header
	.container
		h2.text-center.dog-title-color Contact Us
		hr
.container
	p Please fill out this form. We will get back to you as soon as possible!
footer