div(ng-include='"components/navbar/navbar.html"')
.container
	.row(masonry='{ "transitionDuration" : "0.0s" , "itemSelector" : ".masonry-brick"}')
		.col-sm-6.col-md-4.masonry-brick.item(ng-repeat='dog in dogs')
			.thumbnail.dogs.text-bg(ng-click='navigateTo(dog)')
				img.img-responsive(src='{{dog.mainPhoto}}', alt='{{dog.showName}}')
				.caption
					h3 {{dog.showName}}
					h4 {{dog.callName}}
footer